<!-- Portfolio Grid Section -->
<section class="portfolio">
    <div class="row">
        {% assign projects = site.projects | sort: 'index' %}
        {% for item in projects %}
        <div class="col-sm-4 col-xs-6 portfolio-item">
            <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
                <div class="caption" title="{{ item.title }}">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/{{ item.thumbnail }}" class="" alt="">
                <div class="portfolio-title">
                    {{ item.title }}
                    {% comment %}
                        {% if item.tags contains 'work in progress' %}(wip){% endif %}
                    {% endcomment %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>