<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Load random image from giphy -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><a href="{{ site.baseurl }}/"><img src='/public/svt.svg'></a></p>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="/projects/">Projects</a>
    <a class="sidebar-nav-item{% if page.url == '/otherthings/' %} active{% endif %}" href="/otherthings/">Other things</a>
    <a class="sidebar-nav-item{% if page.url == '/archive/' %} active{% endif %}" href="/archive/">Archive</a>
    <a class="sidebar-nav-item" href="#" onclick="getGiphy('meh')">meh<img id="meh" src="" style="display: inline-block;"></a>
  </nav>

  <div class="sidebar-item">
    <a href="https://twitter.com/achimkoh" alt="link to twitter">{% include icon-twitter.svg %}</a> <a href="https://github.com/achimkoh" alt="link to github">{% include icon-github.svg %}</a> <a href="https://www.are.na/achim-koh/" alt="link to are.na">{% include icon-arena.svg %}</a>
  </div>
</div>
